name: CI
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]
# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read
jobs:
  test:
    name: Julia ${{ matrix.version }}-${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
         # Julia LTS, Linux, KNITRO@15
         - version: 'lts'
           os: 'ubuntu-latest'
           arch: 'x64'
         # Julia v1, Linux, KNITRO@15
         - version: '1'
           os: 'ubuntu-latest'
           arch: 'x64'
         # Julia v1, Linux-aarch64, KNITRO@15
         - version: '1'
           os: ubuntu-24.04-arm
           arch: arm64
         # Julia v1, macOS-aarch64, KNITRO@15
         - version: '1'
           os: macos-latest
           arch: arm64
         # Julia v1, Windows, KNITRO@15
         - version: '1'
           os: 'windows-latest'
           arch: 'x64'
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
      - shell: bash
        env:
          ARTELYS_LIC_JSO: ${{ secrets.ARTELYS_LICENSE }}
        run: |
          echo "$ARTELYS_LIC_JSO" > ~/artelys_lic.txt
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v4
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
